In [17]:
import pandas as pd

# Read the "E" file

First, read the raw data from the `.xlsx` file into Pandas.

In [18]:
dfs_E = pd.ExcelFile("./data/US3001245E_Client_Data.xlsx")

Once it's read in (this take a while), you can see what sheets are available:

In [19]:
dfs_E.sheet_names

['Labels', 'Values', 'US3001245E_Client_Data']

Make a dataframe for the data sheet:

In [20]:
df_E = dfs.parse('US3001245E_Client_Data')

Now we have something we can look at:

In [21]:
df_E.head()

,RESPONDENT_SERIAL,QUOTA_COUNTRY,LQ,S1,S2,QUOTA_AGE,S3,S4,S5,S6,...,C1_OE17,C1_OE18,C1_OE19,C1_OE20,C1_OE21,C1_OE22,C1_OE23,RSPWGT1,UNWEIGHT,INDUSTRY
0,20,1,NaN,1,4,3,4,1,4,1,...,0,0,0,0,0,0,0,1.328148,1,5
1,33,1,NaN,2,6,5,4,1,4,4,...,0,0,0,0,0,0,0,0.666534,1,12
2,40,1,NaN,2,4,3,4,1,4,4,...,0,1,0,0,0,0,0,0.495827,1,13
3,42,1,NaN,1,4,3,4,1,5,1,...,0,0,0,0,0,0,0,0.968555,1,3
4,56,1,NaN,2,5,4,4,1,6,4,...,0,1,0,0,0,0,0,0.419458,1,13

# Read the "R" file

In [22]:
dfs_R = pd.ExcelFile("./data/US3001245R_Client_Data.xlsx")

In [27]:
dfs_R.sheet_names

['Labels', 'Values', 'US3001245R_Client_Data']

In [28]:
dfs_R = dfs_R.parse('US3001245R_Client_Data')

In [34]:
dfs_R

,RESPONDENT_SERIAL,QUOTA_COUNTRY,QLQ,S1,S2,S3,S4,S4_95,S5,S6_1,...,QS4_OE08,QS4_OE09,QS4_OE10,QS4_OE11,QS4_OE12,QC1_3_FOLLOWUP,RSPWGT1,UNWEIGHT,INDUSTRY,CANINDUSTRY
0,6,1,NaN,2,6,2,4,NaN,2,7,...,0,0,0,0,0,NaN,0.408884,1,10.0,NaN
1,14,1,NaN,3,10,1,2,NaN,1,5,...,0,0,0,0,0,NaN,1.173639,1,4.0,NaN
2,16,1,NaN,3,6,3,5,NaN,2,2,...,0,0,0,0,0,Nope,0.390795,1,15.0,NaN
3,17,1,NaN,3,6,1,8,NaN,1,3,...,1,0,0,0,0,NaN,0.219724,1,1.0,NaN
4,22,1,NaN,2,9,1,5,NaN,1,4,...,0,0,0,0,0,NaN,0.539803,1,3.0,NaN
5,23,1,NaN,3,8,2,4,NaN,1,3,...,0,0,0,0,0,NaN,0.401131,1,9.0,NaN
6,24,1,NaN,1,6,1,5,NaN,2,4,...,0,0,0,0,0,NaN,2.162692,1,6.0,NaN
7,26,1,NaN,3,10,3,10,NaN,1,7,...,0,0,1,0,0,NaN,1.148609,1,11.0,NaN
8,27,1,NaN,2,4,2,6,NaN,1,6,...,0,0,0,0,0,NaN,0.482097,1,9.0,NaN
9,33,1,NaN,3,5,2,2,NaN,1,5,...,0,0,0,0,0,NaN,1.572395,1,13.0,NaN
10,35,1,NaN,3,8,2,5,NaN,1,3,...,0,0,0,0,0,NaN,0.280269,1,2.0,NaN
11,36,1,NaN,2,8,2,6,NaN,1,4,...,0,0,0,0,0,NaN,1.148609,1,11.0,NaN
12,38,1,NaN,2,7,1,2,NaN,1,5,...,0,0,0,0,0,NaN,0.955705,1,11.0,NaN
13,41,1,NaN,3,8,2,6,NaN,1,6,...,0,0,0,0,0,NaN,0.539803,1,3.0,NaN
14,44,1,NaN,3,6,1,1,NaN,1,5,...,0,0,0,0,0,NaN,3.641601,1,8.0,NaN
15,46,1,NaN,3,7,2,3,NaN,1,2,...,0,0,0,0,0,NaN,0.976532,1,4.0,NaN
16,50,1,NaN,2,5,2,7,NaN,1,6,...,0,0,0,0,0,NaN,0.901133,1,11.0,NaN
17,52,1,NaN,2,5,1,1,NaN,1,3,...,0,0,0,0,0,NaN,0.433646,1,10.0,NaN
18,53,1,NaN,3,6,2,8,NaN,1,5,...,1,0,0,0,0,NaN,0.378226,1,9.0,NaN
19,55,1,NaN,1,7,1,2,NaN,1,6,...,0,0,0,0,0,NaN,0.449145,1,3.0,NaN
20,56,1,NaN,1,5,1,10,NaN,1,2,...,0,0,1,0,0,NaN,0.219883,1,2.0,NaN
21,58,1,NaN,2,9,2,1,NaN,1,6,...,0,0,0,0,0,Information Technology Services,1.148609,1,11.0,NaN
22,61,1,NaN,3,7,3,10,NaN,1,5,...,0,0,1,0,0,NaN,0.449145,1,3.0,NaN
23,62,1,NaN,2,8,1,6,NaN,1,4,...,0,0,0,0,0,NaN,0.955705,1,11.0,NaN
24,67,1,NaN,1,6,1,1,NaN,1,3,...,0,0,0,0,0,good,0.306595,1,15.0,NaN
25,68,1,NaN,3,8,3,8,NaN,2,4,...,1,0,0,0,0,NaN,1.667619,1,13.0,NaN
26,70,1,NaN,3,4,1,8,NaN,1,7,...,1,0,0,0,0,NaN,1.973228,1,12.0,NaN
27,71,1,NaN,2,7,2,8,NaN,1,3,...,1,0,0,0,0,NaN,3.030011,1,8.0,NaN
28,72,1,NaN,2,10,2,6,NaN,2,3,...,0,0,0,0,0,IT,1.148609,1,11.0,NaN
29,74,1,NaN,1,10,1,5,NaN,2,3,...,0,0,0,0,0,NaN,2.004217,1,13.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1486,5787,3,NaN,1,8,1,6,NaN,1,3,...,0,0,0,0,0,NaN,0.580827,1,5.0,NaN
1487,5799,3,NaN,1,8,1,6,NaN,1,3,...,0,0,0,0,0,NaN,0.580827,1,5.0,NaN
1488,5800,3,NaN,3,6,1,2,NaN,1,3,...,0,0,0,0,0,NaN,0.701143,1,2.0,NaN
1489,5816,3,NaN,3,8,3,6,NaN,1,4,...,0,0,0,0,0,NaN,0.580827,1,5.0,NaN
1490,5830,3,NaN,3,4,3,5,NaN,1,4,...,0,0,0,0,0,NaN,1.262899,1,11.0,NaN
1491,5844,3,NaN,3,6,2,2,NaN,2,3,...,0,0,0,0,0,NaN,0.916055,1,6.0,NaN
1492,5845,3,NaN,1,9,1,1,NaN,2,3,...,0,0,0,0,0,NaN,1.677780,1,13.0,NaN
1493,5854,3,NaN,3,10,3,95,TRADES,1,5,...,0,0,0,1,0,NaN,0.906854,1,15.0,NaN
1494,5865,3,NaN,1,9,2,1,NaN,1,3,...,0,0,0,0,0,NaN,0.994093,1,1.0,NaN
1495,5866,3,NaN,3,7,2,2,NaN,1,4,...,0,0,0,0,0,NaN,0.994093,1,1.0,NaN
1496,5879,3,NaN,2,8,2,3,NaN,2,3,...,0,0,0,0,0,NaN,0.961063,1,3.0,NaN
1497,5880,3,NaN,2,10,1,1,NaN,1,2,...,0,0,0,0,0,NaN,0.929995,1,9.0,NaN
1498,5889,3,NaN,3,5,1,4,NaN,1,2,...,0,0,0,0,0,NaN,0.916055,1,6.0,NaN
1499,5910,3,NaN,2,8,3,3,NaN,1,5,...,0,0,0,0,0,NaN,0.994093,1,1.0,NaN
1500,5920,3,NaN,2,5,2,2,NaN,1,4,...,0,0,0,0,0,NaN,0.605798,1,1.0,NaN
1501,5923,3,NaN,3,5,2,4,NaN,1,4,...,0,0,0,0,0,NaN,0.701143,1,2.0,NaN
1502,5924,3,NaN,2,10,1,6,NaN,1,3,...,0,0,0,0,0,NaN,1.677780,1,13.0,NaN
1503,5925,3,NaN,3,4,2,8,NaN,2,5,...,1,0,0,0,0,NaN,0.916055,1,6.0,NaN
1504,5931,3,NaN,3,10,2,2,NaN,1,3,...,0,0,0,0,0,NaN,0.994093,1,1.0,NaN
1505,5936,3,NaN,3,8,2,9,NaN,2,5,...,0,1,0,0,0,NaN,3.984533,1,12.0,NaN
1506,5941,3,NaN,3,5,3,9,NaN,1,3,...,0,1,0,0,0,NaN,0.916055,1,6.0,NaN
1507,5946,3,NaN,3,5,2,4,NaN,1,3,...,0,0,0,0,0,NaN,0.585669,1,3.0,NaN
1508,5954,3,NaN,3,6,3,9,NaN,1,5,...,0,1,0,0,0,NaN,0.543218,1,3.0,NaN
1509,5955,3,NaN,2,5,2,6,NaN,1,3,...,0,0,0,0,0,NaN,0.713823,1,11.0,NaN
1510,5956,3,NaN,3,4,2,9,NaN,1,5,...,0,1,0,0,0,NaN,0.606852,1,7.0,NaN
1511,5976,3,NaN,3,6,2,1,NaN,2,4,...,0,0,0,0,0,NaN,0.606852,1,7.0,NaN
1512,5978,3,NaN,3,8,2,2,NaN,1,3,...,0,0,0,0,0,NaN,0.566737,1,9.0,NaN
1513,5982,3,NaN,3,5,1,1,NaN,1,3,...,0,0,0,0,0,NaN,0.353954,1,5.0,NaN
1514,5988,3,NaN,2,5,3,2,NaN,1,3,...,0,0,0,0,0,NaN,0.543218,1,3.0,NaN
1515,5992,3,NaN,3,4,2,7,NaN,1,3,...,0,0,0,0,0,NaN,0.769607,1,11.0,NaN

In [32]:
dfs_R_valeus = pd.ExcelFile("./data/US3001245R_Client_Data.xlsx").parse('Values')

In [33]:
dfs_R_valeus.head()

  Variable Values  Unnamed: 1      Unnamed: 2
0           Value         NaN           Label
1   QUOTA_COUNTRY         1.0   United States
2             NaN         2.0  United Kingdom
3             NaN         3.0       Australia
4             NaN         4.0          Canada