In [6]:
import pandas.rpy.common as com
filename = "data/US3001245R_Client_Data.sav"
w = com.robj.r('foreign::read.spss("%s", to.data.frame=TRUE)' % filename)
w = com.convert_robj(w)

In [7]:
w.head()

,RESPONDENT_SERIAL,QUOTA_COUNTRY,QLQ,S1,S2,S3,S4,S4_95,S4_950,S4_951,...,QC1_36,QC1_37,QC1_38,QC1_39,QC1_3A,QC1_3B,RSPWGT1,UNWEIGHT,INDUSTRY,CANINDUSTRY
1,6.0,United States,NaN,Upper-Level Management,51 - 100,Very knowledgeable,Finance/Accounting,...,...,...,...,...,...,...,...,...,,0.408884,1.0,Personal/Consumer Services (811-812) & Non-pro...,NaN
2,14.0,United States,NaN,Middle-Level Management,"5,001 or more",Extremely knowledgeable,Administration,...,...,...,...,...,...,...,...,...,,1.173639,1.0,Transportation (48-49),NaN
3,16.0,United States,NaN,Middle-Level Management,51 - 100,Somewhat knowledgeable,Human Resources,...,...,...,...,...,...,...,...,...,,0.390795,1.0,Other,NaN
4,17.0,United States,NaN,Middle-Level Management,51 - 100,Extremely knowledgeable,Operations/Production,...,...,...,...,...,...,...,...,...,,0.219724,1.0,"Agriculture, Forest, Fishing (11), Mining, Qua...",NaN
5,22.0,United States,NaN,Upper-Level Management,"1,001- 5,000",Extremely knowledgeable,Human Resources,...,...,...,...,...,...,...,...,...,,0.539803,1.0,Manufacturing Total (Durables & Non-Durables (...,NaN